<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>

{% block content %}

{% endblock %}


</br>
Lista de Jogos:
{% if perms.games.view_game %}

<table class="table">
    
    <thead>
        <tr>
        <th>
            ID
        </th>
        <th>
            Nome
        </th>
        <th>
            Categorias
        </th>

        <th>Ações</th>
        </tr>
    </thead>
    <tbody>

    {% for game in games %}
        <tr>
            <td> 
                <a href="{% url 'game_edit' pk=game.id %}">{{ game.id }}</a>
            </td>
            <td> {{ game.nome }}</td>
            <td>
                {{ game.categoria }}
            </td>
            <td> 
                <a href="{% url 'game_delete' pk=game.id %}">Deletar</a>
            </td>
        </tr>
        {% endfor %}

    
    </tbody>
    
    </table>

</body>

{% else %}
sem permissao pra ver lista de games!!!

{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% endif %}
</html>