{% extends 'base.html' %}

{% block content %}


<h2>Game</h2>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }} </p>
    {% if form.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </p>
    {% endfor %}
    {% endif %}
    {% if field.help_text %}
    <p class="form-text">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>


{% endblock %}