{% extends 'base.html' %}

{% block content %}
<a href="{% url 'categoria_new' %}">Categoria</a>

{% if perms.games.view_game %}
<a href="{% url 'game_new' %}">Games</a>
{% else %}
sem permissao para add games!
{% endif %}

{% if perms.games.view_report_a %}
<a href="{% url 'relatorio_A' %}">Relatorio A</a>
{% else %}
sem permissao para relatorio A
{% endif %}

{% if perms.games.view_report_b %}
<a href="{% url 'relatorio_B' %}">Relatorio B</a>
{% else %}
sem permissao para relatorio B
{% endif %}


{% endblock %}