{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
</head>

<body class="text-center">

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" >
    <symbol id="turismo-shared" viewBox="0 0 16 16">
      <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
    </symbol>
  </svg>
  <main class="form-signin">
    <form id="login" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />

      <svg class="bi me-2" width="72" height="57" role="img" aria-label="Turismo-Shared"><use xlink:href="#turismo-shared"/></svg>
      <h1 class="h3 mb-3 fw-normal">Loja</h1>
      {% include '_alertas.html' %}

      <div class="form-floating">
        <input name="username" type="text" class="form-control" id="floatingInput" placeholder="myuser">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input name="senha" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input id="remember" type="checkbox"> Lembrar-me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

      <p class="mt-5 mb-3 text-muted">Sistema © {% now 'Y' %}</p>
    </form>
  </main>

<script>

window.onload = () => {
  document.getElementsByName("email")[0].value = localStorage.getItem("email");
  document.getElementById("remember").checked = localStorage.getItem("remember");
};

document.getElementById("login").onsubmit = () => {
  
    if(document.getElementById("remember").checked) {
      localStorage.setItem('email', document.getElementsByName("email")[0].value);
      localStorage.setItem('remember', document.getElementById("remember").checked);
    }else{
      localStorage.removeItem('email');
      localStorage.removeItem('remember');
    }

};

</script>

</body>

</html>
